
#forgot-password-page {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;

    .container {
        height: 400px;
        width: 400px;
        border-radius: 10px;
        font-family: 'Roboto Condensed', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & .title {
            font-size: 19px;
            margin: 5px 0;
        }

        & button {
            margin: 15px 0;
        }
    }
}